<!DOCTYPE html>
<html lang="en">
<head>
	<title>A simple next day calculator</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>
<body>
	<div ng-app="DateApp" >
		<div ng-controller="DateCtrl">
			<div id="{{getSeason(mdate.month)}}">
				<div class="row">
							<h3><em>Tomorrow is:</em></h3>
				</div>
				
				<div class="row">
					<h1>{{getTomorrow(mdate.year, mdate.month, mdate.day).date}}</h1>
					<h1><em>{{getTomorrow(mdate.year, mdate.month, mdate.day).day}}</em></h1>
					<h2>{{getTomorrow(mdate.year, mdate.month, mdate.day).chineseYear}}</h2>
					<h1 id="character">{{getTomorrow(mdate.year, mdate.month, mdate.day).chineseCharacter}}</h1>
				</div>
			
				<div class="row">

					<form name="enterDate">
						<div class="large-4 medium-4 columns">
						<label class="{{checkYear(mdate.year)}}">Year
						<input name="year" class="{{checkYear(mdate.year)}}" type="text" ng-model="mdate.year" ng-minlength="4" ng-maxlength="4" ng-pattern="/^[0-9]*$/">
						<small class="error" ng-show="enterDate.year.$error.pattern">The input must be an integer (between 1600 and 9999)</small>
						<small class="error" ng-show="enterDate.year.$error.minlength">The input must not be shorter than four digits</small>
						<small class="error" ng-show="enterDate.year.$error.maxlength">The input must not be longer than four digits</small>
						<small class="{{checkYear(mdate.year)}} nonangerr">The year must be between 1600 and 9999</small>
						</div>
		
						<div class="large-4 medium-4 columns">
						<label class="{{checkMonth(mdate.month)}}">Month<input  name="month" class="{{checkMonth(mdate.month)}}" type="text" ng-model="mdate.month" ng-pattern="/^[0-9]{1,2}$/"></label>
						<small class="error" ng-show="enterDate.month.$error.pattern">The input must be an integer (between 1 and 12)</small>
						<small class="{{checkMonth(mdate.month)}} nonangerr">The month must be between 1 and 12</small>
						</div>

						<div class="large-4 medium-4 columns">
						<label class="{{checkDay(mdate.day)}}">Day<input  name="day" class="{{checkDay(mdate.day)}}" type="text" ng-model="mdate.day" ng-pattern="/^[0-9]{1,2}$/"></label>
						<small class="error" ng-show="enterDate.day.$error.pattern">The input must be an integer (less than or equal to {{numberOfDaysInMonth()}})</small>
						<small class="{{checkDay(mdate.day)}} nonangerr">There are only {{numberOfDaysInMonth()}} days in this month.</small>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/modernizr.js"></script>
	<script type="text/javascript" src="./lib/angular/angular.js"></script>
	<script type="text/javascript" src="./js/controllers/DateController.js"></script>
</body>
</html>